cgi-bin
.idea
.DS_Store
etc
homes
logs
tmp
.virtualmin-src
*.sql
*.tar.gz
*/sites/*/settings.local.php
*/sites/*/settings.php.save
*/sites/default/files/*
*/**/.git
docker/mariadb
docker/.ssh_docker/config
docker/.ssh_docker/id_rsa
docker/.ssh_docker/id_rsa.pub
docker/.ssh_docker/known_hosts
docker/.ssh_docker/known_hosts.old
.docker-sync
app/express_server/node_modules
app/react_frontend/node_modules
app/storybook/node_modules
node_modules
*/modules/custom/simple_oauth_token_issuer
.ssh
.drush
.gitconfig
.viminfo
.bash*
drush-backups
bin
vendor
public_html/core
public_html/modules/contrib
public_html/modules/studiopresent
public_html/themes/contrib
public_html/themes/studiopresent
drush/Commands/contrib
public_html/libraries
private/
public_html/sites/default/files/
.environment_name
.phpunit.result.cache
public_html/sites/simpletest/
